<div class="small-12 columns">

  <h4>A PowR Tomato is a movie critic that shares your filmological taste.</h4>

  <form action='/rate' method='GET'>
    <input type='text' name='movie' size='' placeholder='Enter a Movie' >
    <div class="small-3 small-centered columns">
      <input type='submit' value="Submit" class='button expand radius'>
    </div>
  </form>

</div>

<div class="small-12 columns">
    <% if params[:show] == "all" && Critic.all.length > 0 %>
      <p>
        <a href="/">Show Fewer Critics</a>
      </p>
    <% end  %>


    <% @critics.each do |critic| %>
      <p class="critic">
        <% unless critic.name == "" %>
          <%= critic.name %>,
        <% end %>
        <%= critic.publication %> agreed with you <%= critic.agree %> times (<%= critic.pct %>%).
      </p>
      <div class="progress small-10 <%= critic.meter_color %> radius">
        <span class="meter" style="width: <%= critic.pct %>%"></span>
      </div>

    <% end %>
    <% if params[:show].nil? && Critic.all.length > 0 %>
      <p>
        <a href="?show=all">Show All Critics</a>
      </p>
    <% end  %>
</div>

  <% if Critic.all.length > 0  %>
  <div class="small-12 columns">
    <div class="small-12 columns">
      <a href="/recommendations" class="button success expand radius">Recommendations</a>
    </div>
    <div class="small-12 columns">
      <form action="/reset" method="post">
        <input type='hidden' name='reset' value='true' />
        <input type='submit' class="button success expand radius" value='Start over' />
      </form>
    </div>
  </div>
  <% end  %>
