<div class="row">
  <div class="small-12 columns">
    <div class="small-12 columns">
    <h4>Ok, let's talk about <%= @movie[:title] %>.</h4>
    </div>
  </div>
</div>



<div class="row">
  <div class="small-12 columns">
    <div class="small-3 columns">
      <img src="<%= @poster_link %>" alt="<%= @movie[:title] %>" />
    </div>
    <div class="small-9 columns">
      <div class=" panel callout radius">
        <p>
          <%= @movie[:synopsis] %>
        </p>
        <p>Released <%= @movie[:year] %>. Starring
          <% @movie[:abridged_cast].each do |actor|  %>
            <% if @movie[:abridged_cast].last == actor %>
              and <%= actor[:name] %>.
            <% else %>
              <%= actor[:name] %>,
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="small-6 columns">
      <form action='/rate' method='POST'>
        <input type='hidden' name='opinion' value='fresh' />
        <input type='hidden' name='movie_id' value='<%= @movie[:id] %>' />
        <input type='submit' class="button alert expand" value='Fresh' />
      </form>
    </div>

    <div class="small-6 columns">
      <form action='/rate' method='POST'>
        <input type='hidden' name='opinion' value='rotten' type='submit' />
        <input type='hidden' name='movie_id' value='<%= @movie[:id] %>' />
        <input type='submit' class="button success expand" value='Rotten' />
      </form>
    </div>
  </div>
</div>
